<img src="https://i.imgur.com/6U6q5jQ.png"/>

# DATA FRAMES IN R and Python

In [1]:
## if needed, run this and RESTART KERNEL
import os
os.environ['R_HOME'] ='/Library/Frameworks/R.framework/Resources'

In [2]:
%load_ext rpy2.ipython

**Data frames**  are more complex containers of values. The most common analogy is a spreadsheet.

## 1. Creating

In [3]:
namesP=["Qing", "Françoise", "Raúl", "Bjork","Marie"]
agesP=[32,33,28,30,29]
countryP=["China", "Senegal", "España", "Norway","Korea"]
educationP=["Bach", "Bach", "Master", "PhD","PhD"]

classroomP=dict(student=namesP,age=agesP,edu=educationP,country=countryP)

import pandas as pd

# our data frame:
studentsP=pd.DataFrame(classroomP)
## see it:
studentsP

     student  age     edu  country
0       Qing   32    Bach    China
1  Françoise   33    Bach  Senegal
2       Raúl   28  Master   España
3      Bjork   30     PhD   Norway
4      Marie   29     PhD    Korea

In [4]:

%%R
namesR=c("Qing", "Françoise", "Raúl", "Bjork","Marie")
agesR=c(32,33,28,30,29)
countryR=c("China", "Senegal", "España", "Norway","Korea")
educationR=c("Bach", "Bach", "Master", "PhD","PhD")

classroomR=list(student=namesR,age=agesR,edu=educationR,country=countryR)

studentsR=as.data.frame(do.call(cbind,classroomR))

studentsR

    student age    edu country
1      Qing  32   Bach   China
2 Françoise  33   Bach Senegal
3      Raúl  28 Master  España
4     Bjork  30    PhD  Norway
5     Marie  29    PhD   Korea

## 2. Accessing

In [5]:
studentsP.iloc[:,0] # ":" means 'all'; "iloc" requests positions (indices)

0         Qing
1    Françoise
2         Raúl
3        Bjork
4        Marie
Name: student, dtype: object

In [6]:
%%R
studentsR[,1] # "" means 'all'.

[1] "Qing"      "Françoise" "Raúl"      "Bjork"     "Marie"

In [7]:
studentsP.iloc[:,[1,2]] # indices in a list

   age     edu
0   32    Bach
1   33    Bach
2   28  Master
3   30     PhD
4   29     PhD

In [8]:
%%R
studentsR[,c(2,3)] # indices in a vector

  age    edu
1  32   Bach
2  33   Bach
3  28 Master
4  30    PhD
5  29    PhD

In [9]:
studentsP.loc[:,'student'] # "loc" requires labels (not positions)

0         Qing
1    Françoise
2         Raúl
3        Bjork
4        Marie
Name: student, dtype: object

In [10]:
%%R
studentsR[,'student'] # also valid in R

[1] "Qing"      "Françoise" "Raúl"      "Bjork"     "Marie"

In [11]:
studentsP.loc[:,['student','edu']]

     student     edu
0       Qing    Bach
1  Françoise    Bach
2       Raúl  Master
3      Bjork     PhD
4      Marie     PhD

In [12]:
%%R
studentsR[,c('student','edu')]

    student    edu
1      Qing   Bach
2 Françoise   Bach
3      Raúl Master
4     Bjork    PhD
5     Marie    PhD

In [13]:
studentsP.student # one column in Pandas

0         Qing
1    Françoise
2         Raúl
3        Bjork
4        Marie
Name: student, dtype: object

In [14]:
%%R
studentsR$student # one column in R (use $)

[1] "Qing"      "Françoise" "Raúl"      "Bjork"     "Marie"

In [15]:
studentsP.loc[2,'student'] # row with label 2, info about 'student'

'Raúl'

In [16]:
studentsP.iloc[2,0] # row with position 2, info about 'student'

'Raúl'

In [17]:
%%R
studentsR[3,'student']

[1] "Raúl"

In [18]:
studentsP.loc[[2,4],['student','edu']]

  student     edu
2    Raúl  Master
4   Marie     PhD

In [19]:
%%R
studentsR[c(3,5),c('student','edu')]

  student    edu
3    Raúl Master
5   Marie    PhD

## 3. Replacing

In [20]:
studentsP.loc[2,'student']='Lito'
studentsP

     student  age     edu  country
0       Qing   32    Bach    China
1  Françoise   33    Bach  Senegal
2       Lito   28  Master   España
3      Bjork   30     PhD   Norway
4      Marie   29     PhD    Korea

In [21]:
%%R

studentsR[3,'student']='Lito'
studentsR

    student age    edu country
1      Qing  32   Bach   China
2 Françoise  33   Bach Senegal
3      Lito  28 Master  España
4     Bjork  30    PhD  Norway
5     Marie  29    PhD   Korea

In [22]:
studentsP.loc[[2,4],'age']=[32,31]
studentsP

     student  age     edu  country
0       Qing   32    Bach    China
1  Françoise   33    Bach  Senegal
2       Lito   32  Master   España
3      Bjork   30     PhD   Norway
4      Marie   31     PhD    Korea

In [23]:
%%R

studentsR[c(3,5),'age']=c(32,31)
studentsR

    student age    edu country
1      Qing  32   Bach   China
2 Françoise  33   Bach Senegal
3      Lito  32 Master  España
4     Bjork  30    PhD  Norway
5     Marie  31    PhD   Korea

## 4. Deleting

In [ ]:
# make copy
studentsP_new=studentsP.copy()

In [ ]:
%%R
# make copy
studentsR_new=studentsR

### Deleting rows

In [ ]:
byeRows=[2,3]
studentsP_new.drop(index=byeRows,inplace=True) #inplace=inmediately
#then
studentsP_new

As you see, the indexes dissapeared. Then, you should reset the indexes:

In [ ]:
studentsP_new.reset_index(drop=True,inplace=True)
#then
studentsP_new

In [ ]:
%%R
byeRows=c(3,4)
studentsR_new=studentsR_new[-byeRows,] # rewriting (NO 'inplace')
#then
studentsR_new

In [ ]:
%%R
#reset indexes
row.names(studentsR_new)=NULL
#then
studentsR_new

### Deleting columns

In [ ]:
# This is what you want get rid of:
byeColumns=['edu'] # you can delete more than one

#this is the result
studentsP_new.drop(columns=byeColumns,inplace=True)
#then
studentsP_new

In [ ]:
%%R

byeColumns=c('edu') # this doesn't work: studentsR_new[,-byeColumns]
keepCols=setdiff(names(studentsR_new),byeColumns)
studentsR_new=studentsR_new[,keepCols]
#then
studentsR_new

### Deleting cells

In [ ]:
studentsP_new.loc[2,'country']=pd.NA
#then
studentsP_new

In [ ]:
%%R
studentsR_new[3,'country']=NA
#then
studentsR_new

## Inserting

In [ ]:
#currently
studentsP

In [ ]:
femaleP=[True,True,False,False,True]
studentsP1=studentsP.assign(female=femaleP)
#then
studentsP1

In [ ]:
#another way
studentsP2=studentsP.copy()
studentsP2['female']=femaleP
#then
studentsP2

In [ ]:
#yet another way
studentsP3=studentsP.copy()
studentsP3.loc[:,'female']=femaleP
studentsP3

In [ ]:
%%R
femaleR=c(T,T,F,F,T)
studentsR1=cbind(studentsR,female=femaleR)
studentsR1

In [ ]:
%%R
studentsR2=studentsR
studentsR2$female=femaleR
studentsR2

In [ ]:
%%R
studentsR3=studentsR
studentsR3[,'female']=femaleR
studentsR3

## Other basic operations

In [ ]:
# data of structure: list? tuple? dataframe?
type(studentsP)

In [ ]:
%%R
class(studentsR)

In [ ]:
# type of data in data frame column
studentsP.info()

In [ ]:
# details of data frame
%%R

str(studentsR)

In [ ]:
# number of rows and columns
studentsP.shape

In [ ]:
%%R
dim(studentsR)

In [ ]:
# number of rows:
len(studentsP)

In [ ]:
%%R

length(studentsR)

In [ ]:
# first rows
studentsP.head(2) # compare with: studentsP.tail(2)

In [ ]:
%%R
head(studentsR,2) # compare with: tail(studentsR,2)

In [ ]:
# name of columns
studentsP.columns

In [ ]:
%%R
names(studentsR)

## Queries

In [ ]:
studentsP1.iloc[0,1]=33
studentsP1

In [ ]:
#who is the oldest?

studentsP1[studentsP1.age==max(studentsP1.age)]

In [ ]:
studentsP1[studentsP1.age==studentsP1.age.max()]['student']

In [ ]:
%%R
studentsR1[1,2]=33
studentsR1

In [ ]:
%%R

#who is the oldest?

studentsR1[which.max(studentsR1$age),]

In [ ]:
%%R
studentsR1[studentsR1$age==max(studentsR1$age),]

In [ ]:
%%R
studentsR1[studentsR1$age==max(studentsR1$age),'student']

In [ ]:
#who has PhD?

studentsP1[studentsP1.edu=='PhD']

In [ ]:
%%R
studentsR1[studentsR1$edu=='PhD',]

In [ ]:
#who has PhD or Master?
studentsP1[studentsP1.edu.isin(['PhD','Master'])]

In [ ]:
%%R
studentsR1[studentsR1$edu %in% c('PhD','Master'),]

In [ ]:
#who does not has PhD or Master?
studentsP1[~studentsP1.edu.isin(['PhD','Master'])]

In [ ]:
%%R
studentsR1[!studentsR1$edu %in% c('PhD','Master'),]

In [ ]:
#the youngest female
studentsP1[studentsP1.female]

In [ ]:
studentsP1[studentsP1.female].sort_values(by=['age'],ascending=True).iloc[0,0]

In [ ]:
%%R
studentsR1[studentsR1$female,]

In [ ]:
%%R
tail(studentsR1[studentsR1$female,][order(studentsR1$age)],1)

In [ ]:
studentsP1[studentsP1.female & studentsP1.age==studentsP1.age.min()]

In [ ]:
femdf=studentsP1[studentsP1.female]
femdf

In [ ]:
femdf[femdf.age==femdf.age.min()]